*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
}
body{
    background-color: $background-color;
    display: grid;
    grid-template-columns: 50% 50%;
    margin : 80px 80px 40px 50px;
    color: $text-color;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    
}